@model t02_ShopCMS.Entity.Product

@{
    ViewData["Title"] = "Create";
}
<link href="~/css/editor.css" rel="stylesheet">

<div class="row">
    <div class="col-md-12 row form-container">
        <h4>新增產品</h4>
        <form asp-action="Create" enctype="multipart/form-data" class="form-row" id="createForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*類別*@
            <div class="form-group row mb-3">
                <label asp-for="CategoryId" class="col-md-1 control-label required">產品類型</label>
                <div class="col-md-11">
                    <select class="form-control" asp-for="CategoryId" asp-items="ViewBag.Categories" name="CategoryId"></select>
                </div>
            </div>
            @*名稱*@
            <div class="form-group row mb-3">
                <label asp-for="Name" class="col-md-1 control-label required">產品名稱</label>
                <div class="col-md-11">
                    <input asp-for="Name" class="form-control" name="Name" />
                    <span class="form-text text-danger" id="NameError" style="display:none;">產品名稱為必填欄位!</span>
                </div>
            </div>
            @*簡介*@
            <div class="form-group row mb-3">
                <label asp-for="Description" class="col-md-1 col-form-label">產品簡介</label>
                <div class="col-md-11">
                    <textarea asp-for="Description" class="form-control" name="Description"></textarea>
                </div>
            </div>
            @*圖片*@
            <div class="form-group row mb-3">
                <label asp-for="Image" for="inputImg" class="col-md-1 control-label required">產品圖片</label>
                <div class="col-md-11">
                    <div class="input-group custom-file w-100">
                        <input type="text" class="form-control" placeholder="選擇圖片" aria-describedby="basic-addon2" id="inputImg" name="myImg" readonly>
                        <div class="input-group-append">
                            <button class="btn add-btn mb-0" type="button" id="selectImgBtn">選擇圖片</button>
                        </div>
                        <input type="file" id="fileInput" style="display: none;" name="myImg" />
                    </div>
                    <span class="form-text text-danger" id="imageError" style="display:none;">產品圖片為必填欄位!</span>
                </div>
            </div>
            @*價格*@
            <div class="form-group row mb-3">
                <label asp-for="Price" class="col-md-1 col-form-label required">產品價格</label>
                <div class="col-md-11">
                    <input asp-for="Price" class="form-control" name="Price" />
                    <span class="form-text text-danger" id="PriceError" style="display:none;">產品價格為必填欄位!</span>
                </div>
            </div>
            @*庫存*@
            <div class="form-group row mb-3">
                <label asp-for="Stock" class="col-md-1 control-label required">產品庫存</label>
                <div class="col-md-11">
                    <input asp-for="Stock" class="form-control" name="Stock" />
                    <span class="form-text text-danger" id="StockError" style="display:none;">產品庫存為必填欄位!</span>
                </div>
            </div>
            @* 是否上架 *@
            <div class="form-check form-switch row mb-3 d-flex align-items-center p-0">
                <div class="col-md-1 d-flex justify-content-left">
                    <label class="form-check-label" for="flexSwitchCheckChecked">是否上架</label>
                </div>
                <div class="col-md-11">
                    <input class="form-check-input m-0" type="checkbox" role="switch" id="flexSwitchCheckChecked" name="CanOrder" value="true" @(Model?.CanOrder == true ? "checked" : "")>
                </div>
            </div>
            @*內容*@
            <div class="form-group row mb-3">
                <label asp-for="Content" class="col-md-1 col-form-label">產品內容</label>
                <div class="col-md-11">
                    <textarea asp-for="Content" class="form-control" name="Content"></textarea>
                </div>
            </div>
            
            <div class="form-group">
                <input type="submit" value="確定" class="btn submit-btn" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        var categories = @Html.Raw(Json.Serialize(ViewData["Categories"]));
        $(document).ready(function () {
            if (categories.length == 0){
                swal.fire({
                    title: '尚無產品類別',
                    text: '目前尚無產品類別，請先至新增類別編輯',
                    icon: 'warning',
                    confirmButtonText: '確認',
                    closeModal: false,
                    allowOutsideClick: false,
                    closeOnConfirm: false,
                    closeOnCancel: false,
                }).then((result) => {
                    window.location.href = '/';
                });
            }
        })

        $('#selectImgBtn').on('click', function () {
            $('#fileInput').click();
        });

        $('#fileInput').on('change', function () {
            var fileName = $(this).val().split('\\').pop();
            $('#inputImg').val(fileName);
        });

        $('#createForm').on('submit', function (event) {
            event.preventDefault();

            validateForm();

            const form = document.getElementById('createForm');
            const formData = new FormData(form);

            fetch('/Products/Create', {
                method: 'POST',
                body: formData
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        swal.fire({
                            title: '產品新增成功',
                            icon: 'success',
                            confirmButtonText: '確認',
                            closeModal: false,
                            allowOutsideClick: false,
                            closeOnConfirm: false,
                            closeOnCancel: false,
                        }).then((result) => {
                            window.location.href = '/';
                        });
                    } else {
                        swal.fire({
                            title: "新增產品時發生錯誤",
                            icon: "error",
                        });
                    }
                })
                .catch(error => {
                    swal.fire({
                        title: "Error occurred: " + error.message,
                        icon: "error",
                    });
                });
        });

        function validateForm() {

            $('.form-control').each(function () {
                if ($(this).val() === "") {
                    var errorId = $(this).attr('name') + 'Error';
                    $('#' + errorId).show();
                    isValid = false;
                } else {
                    var errorId = $(this).attr('name') + 'Error';
                    $('#' + errorId).hide();
                }
            });

            if ($('#inputImg').val().trim() === "") {
                $('#imageError').show();
            } else {
                $('#imageError').hide();
            }
        }
    </script>

}