@model t02_ShopCMS.Entity.Product

@{
    ViewData["Title"] = "Create";
}
<link href="~/css/editor.css" rel="stylesheet">
<h1>Create</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <span>文件影像管理及調閱系統</span>
    <div class="col-md-12 row">
        <form asp-action="Create" enctype="multipart/form-data" class="form-row">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*類別*@
            <div class="form-group col-12">
                <label asp-for="CategoryId" class="control-label"></label>  
                <select class="form-control" asp-for="CategoryId" asp-items="ViewBag.Categories"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            @*名稱*@
            <div class="form-group col-12">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            @*簡介*@
            <div class="form-group col-12" >
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" rows="6"></textarea>
            </div>
            @*圖片*@
            <div class="col-6">
                <img id="preview" class="img-fluid mx-auto d-block" style="height:200px;"/>
            </div>
            <div class="form-group col-12">
                <label asp-for="Image" class="control-label"></label>
                <input type="file" class="form-control-file" name="myImg" id="inputImg">
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            @*價格*@
            <div class="form-group col-12">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            @*庫存*@
            <div class="form-group col-12">
                <label asp-for="Stock" class="control-label"></label>  
                <input asp-for="Stock" class="form-control" />
                <span asp-validation-for="Stock" class="text-danger"></span>
            </div>
            @* 是否上架 *@
            <div class="form-check form-switch col-12">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" name="CanOrder" value="true" @(Model?.CanOrder == true ? "checked" : "")>
                <label class="form-check-label" for="flexSwitchCheckChecked">是否上架</label>
                <span asp-validation-for="CanOrder" class="text-danger"></span>
            </div>
            @*內容*@
            <div class="form-group col-12">
                <label asp-for="Content" class="control-label"></label>
                <textarea asp-for="Content" class="form-control" id="editor"></textarea>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
    $('#inputImg').on('change',function(e){
        const file = this.files[0];
        //用crateObjectURL產生圖片URL
        const objectURL=URL.createObjectURL(file);
        $('#preview').attr('src',objectURL);
    })
    </script>
    
    <script src="~/lib/ckeditor5/build/ckeditor.js"></script>

    <script>
        ClassicEditor
            .create( document.querySelector( '#editor' ) )
            .then( editor => {
                console.log( editor );
            } )
            .catch( error => {
                console.error( error );
            } );

    </script>

}