@model IndexViewModel
@{
    ViewData["Title"] = "Index";
}

<div class="header">
    <div class="slogan-box d-flex align-items-center justify-content-center">
        <p class="tagline d-inline">尋找最佳方案</p>
        <p>因應不同產業需求，提供最適合的資安解決方案</p>
    </div>
</div>

<div class="row">
    <div class="row col-md-12">
        <div class="d-flex flex-column align-items-end me-4">
            <div class="d-flex">
                <a asp-action="Create" class="me-2">
                    <input type="submit" value="+ 新增產品" class="add-btn btn add-product" />
                </a>
                <a asp-action="CreateCategory">
                    <input type="submit" value="+ 新增類別" class="add-btn btn" />
                </a>
            </div>
            @* <form class="col-4 mb-2">
                <div class="input-group input-group-sm">
                    <input class="form-control" type="text" placeholder="Name" name="searchString" />
                    <input class="btn btn-sm btn-primary search-btn" type="submit" value="Search" />
                </div>
            </form> *@
        </div>
    </div>
    <div class="container p-3 ms-3">
        <div class="row">
            <div class="col-md-2 p-2 me-4">
                <div class="tab-category">
                    <button class="category-btn mb-3 w-100" data-id="0">全部產品</button>
                    @foreach (var item in Model.Categories)
                    {
                        <button class="category-btn mb-3 w-100" data-id="@item.Id" data-name="@item.Name">@item.Name</button>
                    }
                </div>
            </div>
            <div class="col-md-10 row product-area pe-4"></div>
        </div>
    </div>
</div>
@section Scripts {
<script>
    $(document).ready(function () {
        selectCategory(0);
    });

    function selectCategory(id) {
        // 遍歷所有 button 元素，並移除其上的 active 類
        document.querySelectorAll('button').forEach(button => button.classList.remove('active'));
        // 對應的元素加上 active 類
        const element = document.querySelector(`[data-id="${id}"]`);
        if (element) {
            element.classList.add('active');
        }

        fetch(`/Products/CategoryFilter?id=${id}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
        })
            .then(response => response.json())
            .then(result => {
                console.log('成功:', result);
                loadProducts(result);
            })
            .catch(error => {
                console.error('錯誤:', error);
            });
    }
        
    $('.category-btn').on('click', function () {
        const id = $(this).attr('data-id');
        selectCategory(id);
    });

    function loadProducts(result){
        $('.product-area').empty();

        var products = result.products;
        var image = result.imgsrc;

        if (result != null && products.length > 0) {

            products.forEach(product => {
                // 取得每個產品對應的圖片
                const imgSrcArray = image[product.id];

                if (product.canOrder) {
                    $('.product-area').append(`
                        <div class="col-md-4 product-card">
                            <img class="mb-3" data-id="${product.id}" id="product-img-${product.id}" />
                            <div class="col-md-12 category-name d-inline">${product.category.name}</div>
                            <h3 class="title-name mt-3">${product.name}</h3>
                            <div class="product-description pe-5">${product.description ? product.description : "無"}</div>
                            <div class="product-item mt-3">
                                <a href="javascript:CheckDate(${product.id})" data-id="${product.id} class="product-action edit-product">修改產品</a> |
                                <a href="Products/Details?id=${product.id}" data-id="${product.id}" class="product-action">產品資訊</a>
                            </div>
                            <button class="btn plus-btn">+</button>
                        </div>
                    `);
                } else {
                    $('.product-area').append(`
                        <div class="col-md-4 product-card">
                            <span class="product-label sold-out">已下架</span>
                            <img class="mb-3" data-id="${product.id}" id="product-img-${product.id}" />
                            <div class="col-md-12 category-name d-inline">${product.category.name}</div>
                            <h3 class="title-name mt-3">${product.name}</h3>
                            <div class="product-description pe-5">${product.description ? product.description : "無"}</div>
                            <div class="product-item mt-3">
                                <a href="javascript:CheckDate(${product.id})" data-id="${product.id} class="product-action edit-product">修改產品</a> |
                                <a href="Products/Details?id=${product.id}" data-id="${product.id}" class="product-action">產品資訊</a>
                            </div>
                        </div>
                    `);
                }

                // 在生成 HTML 之後插入對應的圖片
                if (imgSrcArray && imgSrcArray.length > 0) {
                    $(`#product-img-${product.id}`).attr('src', imgSrcArray[0]);
                }
            });
        } else {
            $('.product-area').append(`
            <div class="row non-product-show">
                <div class="d-flex align-items-center justify-content-center message-container">
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-exclamation-circle" viewBox="0 0 16 16" style="color: #818181;">
                      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                      <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0M7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0z"/>
                    </svg>
                    <span class="mt-3" style="color: #818181;">目前尚無產品，請先新增</span>
                </div>
            </div>
            `);
        }
        
    }
    // $('.search-btn').on('click', function () {
            
    //     var searchStringValue = document.querySelector('input[name="searchString"]').value;

    //     fetch(`/Products/SearchProduct?searchString=${searchStringValue}`, {
    //         method: 'POST',
    //         headers: {
    //             'Content-Type': 'application/json'
    //         },
    //     })
    //         .then(response => response.json())
    //         .then(result => {
    //             console.log('成功:', result);
    //         })
    //         .catch(error => {
    //             console.error('錯誤:', error);
    //         });
    // });

    $('.product-area').on('click', '.plus-btn', function (event) {

        event.preventDefault();
        const productId = $(this).siblings('img').data('id');

        const productCard = $(this).closest('.product-card');

        const productName = productCard.find('.title-name').text();
        const productCategory = productCard.find('.category-name').text();
        const amount = 1;

        fetch('/Shipment/SaveOrder', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
                body: JSON.stringify({ "ProductId": productId, "ProductName": productName, "Amount": amount, "Category": productCategory })
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok ' + response.statusText);
                }
                return response.json();
            })
            .then(data => {
                if (data.success) {
                    window.location.href = "/Shipment/Index";
                } else {
                    alert('加入購物車發生錯誤');
                }
            })
            .catch(error => console.error('Error:', error));
    });
    
    function CheckDate(id) {

        fetch(`/Products/CheckDate?id=${id}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
        })
            .then(response => response.json())
            .then(result => {
                if (result) {
                    window.location.href = `/Products/Edit?id=${id}`
                }else{
                    swal.fire({
                        title: "此產品於兩周內上架，不可編輯",
                        icon: "error"
                    });
                }
            })
            .catch(error => {
                console.error('錯誤:', error);
            });
    }
</script>
}