.add-product { background-color: #14527C; color: #eee; margin-bottom: 5px; }

.categories-btn { background-color: #142E7C; color: #eee; margin-bottom: 5px; }

.product-list { box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25); }

.category-name {  background-color: #142E7C; color: #eee; }
img {height: 100px; width: 200px; margin-top: 10px; display: flex; justify-content: center; }
.category-description { font-size: 12px; margin-bottom: 10px; }

/*Create*/

/*Shipment*/
.shipment-list { display: flex; align-items: center; justify-content:center; }
.category-item { background: #5955C4; color: #eee; }