@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "ShopCMS";
}

<h2>ShopCMS</h2>

<div>
    <p>
        @ViewData["data"]
    </p>
    <p>
        @ViewBag.bag
    </p>
    
</div>
