@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Shipment";
}

<h2>ShopCMS</h2>

<div>
    <span>待出貨清單</span>
    <div class="row shipment-list">
        <div class="row shipment-item">
            <img />
            <div>
                <div>
                    categoryName
                </div>
                <div>
                    productName
                </div>
            </div>
            <div class="row">
                <button>-</button>
                <div>1</div>
                <button>+</button>
            </div>
            <div>
                <button>刪除</button>
            </div>
        </div>
        <button>出貨</button>
    </div>
    
</div>
<script>

</script>